body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
select,
button {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #e3f388, #d3b7c3);
    display: flow-root;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

.container {
    padding: 2rem;
    /* background: white; */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    /* Ensures content within container is not visible outside */
}

h1 {
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #1c1616;
    font-size: 1.4rem;
}

input[type="text"],
select {
    width: calc(100% - 2rem);
    /* Adjusted width calculation to accommodate padding */
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    /* Include padding and border in width calculation */
}

button {
    background: #0072ff;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 30px;
    width: 100%;
}

button:hover {
    background: #8a98a5;
}

.result-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.result-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 80%;
}

footer {
    background: #2e2626;
    color: rgb(233, 229, 229);
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .container {
        padding: 1rem;
    }
    label,
    input[type="text"],
    select,
    button {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    .container {
        margin-bottom: 25px;
    }
    button {
        margin-bottom: 100px;
    }
}